    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #a04820, #ee6627, #b63d05, #b97d47, #ad3c08, #77493b, #3e3843, #000000);

    }
  
    	.body1 {
			margin: 0;
			padding: 0;
			background-color: #000;
			font-family: Arial, sans-serif;
			height: 1000px;
		}

		.parallax2 {
			background-image: url('s8s8.jpg');
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
			position: relative;
			overflow: hidden;
		}

		.parallax::before {
			content: "";
			background-image: url('s8s6.jpg');
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
			filter: blur(8px);
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
    .parallax::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			backdrop-filter: blur(30px);
		}
    

		.parallax h1 {
			font-size: 5rem;
			font-weight: bold;
			color: #fff;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
    }
    .parallax {
      height: 100%;
      background-image: url('s8s1.jpg'), url('s8s1.jpg');
      background-size: cover;
      background-position: center, center 100%;
      background-attachment: fixed, fixed;
      transition: background-position 0.5s ease-in-out;
    }
    
    .parallax1 {
      height: 100%;
      background-image: url('s8s3.jpg'), url('s8s3.jpg');
      background-size: cover;
      background-position: center, center 100%;
      background-attachment: fixed, fixed;
      transition: background-position 0.5s ease-in-out;
    }

       .main-section {
        position: relative;
        height: 100vh;
        overflow: hidden;
        background: #000;
        color: #fff;
      }
      
      .parallax-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('s8s6.jpg');
        background-size: cover;
        background-position: center;
        filter: blur(5px);
        z-index: -1;
      }
      
      .main-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
  
    .background {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 100px;
      margin: 10px;
    }

  .box {
    max-height: 200px;
    min-height: 150px;
    max-width: 500px;
    border-radius: 80px;
    background-color: rgb(230, 174, 118);
    flex-basis: calc(33.33% - 20px);
    padding: 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 1px;
    cursor: pointer;
    text-align: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.5s ease-in-out;
    float: left;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 30%);
    background-position: left;
    background-size: 200% 100%;
    transition: background-position 1s ease-in-out;
    border-color:#b66f05;
    border-style:outset;
  }

  .text-overlay {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    font-family: 'Amatic SC', sans-serif;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    text-align: center;
    z-index: 1;
    font-size: 110px;
  }
  
 

  .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    z-index: -1;
  }

  .box:hover {
    transform: scale(1.5);
    background-position: right;
  }

  .box:hover::before {
    height: 100%;
  }

  
  .box:hover .btn {
    display: none;
  }
  
  .box:last-child {
    margin-right: 0;
  }
  
  .box.active {
    opacity: 1;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; 
    z-index: 999;
  }
  
  .overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; 
    z-index: 999;
  }
  
  
  .box:hover ~ .overlay {
    opacity: 0.5; 
    pointer-events: auto; 
  }

  h1{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  }
  .frame {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
  }
  .frame1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid white;
    overflow: hidden;
  }
  
  .frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .frame1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 .frame {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
  }
  .frame1 {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid white;
    overflow: hidden;
  }
  .frame2 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid white;
    overflow: hidden;
  }
   .frame3 {
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid goldenrod;
    overflow: hidden;
  }
  .framet {
    position: absolute;
    top: 44%;
    left: 26%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid white;
    overflow: hidden;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);

  }
  .framet1 {
    position: absolute;
    top: 58%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid white;
    overflow: hidden;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);

  }
  
  
  .frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .frame1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .framet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .button-container1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  button {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(255, 166, 0, 0.897);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  }
  button {
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.5);
  }

  .gradient {
    background: linear-gradient(to bottom right, #FFA500, #FF8C00);
    height: 200px;
    position: relative;
  }
  
  .gradient:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 40px;
    height: 2px;
    background: #FFA500;
    transform: translateY(-50%) rotate(-45deg);
    border-radius: 50%;
  }
  .link-frame {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid orange;
}
.text {
  position: absolute;
  text-align: center;
  margin-top: 3%;
  margin-left: 2%;
  top: 2%;
  left: 0%;
  z-index: 3;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: turquoise;
  font-size: 2rem;
  z-index: 3;
  font-size: 45px;
}
.text1 {
  position: absolute;
  text-align: center;
  margin-top: 3%;
  margin-left: 10%;
  top: 2%;
  left: 0%;
  z-index: 3;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: turquoise;
  font-size: 2rem;
  z-index: 3;
  font-size: 45px;
}
.text2 {
  position: absolute;
  text-align: center;
  margin-top: 3%;
  margin-left: 20%;
  top: 2%;
  left: 0%;
  z-index: 3;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: turquoise;
  font-size: 2rem;
  z-index: 3;
  font-size: 45px;
}
.czcionka{
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0%;
  z-index: 3;
  color: rgb(11, 12, 12);
  font-weight: bold;
  font-size: 2rem;
  z-index: 3;
  font-size: 35px;
  font-family: American Typewriter, serif;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.czciona {
  margin: 40px;
  margin-top: 45%;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-family: 'Callista', sans-serif;
  text-align: center;
}
.czciona1{
  margin-left: 10px;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .box {
    height: 0;
    padding: 0;
    border: none;
  }
  .text-overlay {
    display: none;
  }
  .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
  }
}


