.czcionka2{
    text-indent: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size:  50px;
    color: wheat;
    margin-left: 70px;
    margin-right: 70px;
}
.czcionka3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size:100px;
    color: yellow;
}
.tlo2{
    background: url(tlo2.jpg)
}
.czcionka4{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 100px;
    color: yellowgreen;
    text-shadow: 5px 5px 3px rgb(182, 60, 23);
}
.czcionka5{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
    color: turquoise;
}
.czcionka6{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 70px;
    color: rgb(104, 12, 89);
    text-shadow: 5px 5px 3px rgb(20, 155, 196);
}

table, th, td {
    border: 4px solid black;
    font-size: 35px; font-family: Verdana; color: #000000;
}
table{
    margin-top: 10%;
}
.czcionka10{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size:100px;
    color: wheat ;
}
