.numery1{
    position: absolute;
    margin-right: 2%;
    margin-bottom: 2%;
    bottom: 0px;
    right: 0px;
}
.numery2{
    position: absolute;
    margin-left: 2%;
    margin-bottom: 2%;
    bottom: 0px;
    left: 0px;
}
.czcionka1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:  60px;
    color:black;
}
.ramka1{
    border-style: solid;
    border-width: 5px;
    border-color: wheat;
    position: absolute;
    width: 100%;
    height: 100%;
}
.ramka2{
    border-style: solid;
    border-width: 5px ;
    border-color: wheat;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    right: 50%;
    width: 49%;
    height: 98%;
}
.ramka3{
    border-style: solid;
    border-width: 5px;
    border-color:wheat;
    position: absolute;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    left: 50%;
    width: 48.8%;
    height: 98%;
}
.spis{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:  60px;
    color:black;
    position: absolute;
    left: 10%;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%; 
   
}
.czcionka2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:  40px;
    color:black;
    position: absolute;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%; 
    left: 10%;

}
.czcionka3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:  35px;
    color:black;
    position: absolute;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%; 
    left: -2%;
}
.czcionka4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    color:black;
    position: absolute;
    margin-top: 3.5%;
    margin-right: 7%;
    margin-left: 5%;
    margin-bottom: 5%; 
    right: -6%;
}
.czcionka5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color:black;
    position: absolute;
    left: 1%;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.czcionka6{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color:black;
    position: absolute;
    margin-top: -4.9%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    right: -3%;
}
.img{
    position: absolute;
    margin-top: 25%;
    right: 22%;
}
.img2{
    position: absolute;
    right: 12%;
}
.img3{
    position: absolute;
    margin-top: 25%;
    right: 10%;
}
.czcionka7{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 70px;
    color:wheat;
    margin-top: 5%;
    text-align: center;
} 
.czcionka8{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 70px;
    color:wheat;
    margin-top: 30%;
    text-align: center;
}
